.best247-color-yellow {
  color: #ffd166;
}

.best247-bg-yellow {
  background-color: #ffd166;
}

.best247-bg-black {
  background-color: #212121;
}

.best247-bg-black-2 {
  background-color: #0d0d0e;
}

.best247-color-light {
  color: #d2d2d2;
}

.best247-fz-12 {
  font-size: 12px;
}

.best247-fz-14 {
  font-size: 14px;
}

.best247-rounded-8 {
  border-radius: 8px;
}

.best247-rounded-12 {
  border-radius: 12px;
}